<h2>Highlights</h2>
<a href="/category/publications.html">Full list of publications.</a>
<hr/>
<article class="post-body">
<img src="/assets/img/publications/mixedlab.jpg" class="post-featured" width="50%" >
<h3 class="post-title"><a href="/sefi2024">MixedLAB: Mixed Reality to Teach Students Experimental Knowledge in Microfabrication</a></h3>
Published at SEFI 2024.<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/SSVEPVR.gif" class="post-featured">
<h3 class="post-title"><a href="/BciVR">Interactive Brain-Computer System for Assessing Binocular Rivalry and Amblyopia Based on VR</a></h3>
Published in 2022 8th International Conference on Virtual Reality (ICVR).
</article>

