<h2>Highlights</h2>
<article class="post-body">
    <img src="/assets/img/publications/icls2025.png" class="post-featured" width="50%" >
    <h3 class="post-title"><a href="/icls2025.md">Mixed Reality Training in a Cleanroom to Bridge Intentional Learning and Actual Learning
    </a></h3>
    Published at The International Conference of the Learning Sciences (ICLS) 2025.<br />
<article class="post-body">
<img src="/assets/img/publications/mixedlab.jpg" class="post-featured" width="50%" >
<h3 class="post-title"><a href="/sefi2024">MixedLAB: Mixed Reality to Teach Students Experimental Knowledge in Microfabrication</a></h3>
Published at European Society for Engineering Education (SEFI) 2024.<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/SSVEPVR.gif" class="post-featured">
<h3 class="post-title"><a href="/BciVR">Interactive Brain-Computer System for Assessing Binocular Rivalry and Amblyopia Based on VR</a></h3>
Published in 2022 8th International Conference on Virtual Reality (ICVR).
</article>

